    /* Reset de estilos para zerar margens e paddings padrão do navegador */
    body,
    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }

    /* Estilo para o corpo do blog */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    /* Estilo para o cabeçalho do blog */
    header {
        background-color: #4caf50;
        /* Verde escuro */
        color: #fff;
        /* Texto branco */
        padding: 20px;
        text-align: center;
    }

    h1 {
        font-size: 36px;
    }

    header h1 {
        font-size: 36px;
    }

    .logo {
        max-width: 150px;
    }

    nav {
        margin-top: 20px;
    }

    nav ul {
        list-style-type: none;
        max-width: 360px;
        margin: auto;
        padding-left: 0px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    nav ul li {
        display: inline;
        text-align: center;
        width: 33.3333%;
    }

    nav ul li a {
        width: 100%;
    }

    nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
    }

    /* Estilo para o conteúdo principal */
    main {
        margin: 50px;
    }

    /* Estilo para a barra lateral */
    aside {
        text-align: center;
        background-color: #4caf50;
        /* Verde escuro */
        color: #fff;
        /* Texto branco */
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    aside h2 {
        font-size: 20px;
    }

    /* Estilo para o rodapé */
    footer {
        background-color: #333;
        /* Cinza escuro */
        color: #fff;
        /* Texto branco */
        text-align: center;
        padding: 10px;
    }

    .container {
        max-width: 800px;
        padding: 20px;
        text-align: center;
    }

    .divider {
        background-color: #e0ffe0;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
    }

    .green-box {
        background-color: #b6ff99;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
    }